body{
  font-family: sans-serif;
  color:black;
  justify-content: center;
}

.outer{
  text-align: center;
}

.page{
  max-width: 1500px;
  width: 100%;
  display: inline-block;
  background-color: #fae4aa;
}



.topnav{
  background-color: #F651A0;
  opacity: 100%;
  height:100px;
  text-align: center;
  color: #FFF;
  font-size: 48px;
  padding:20px;
}

.layout{
	width:100%;
	height:100px;
}

.parent_container{
  justify-content:center;
  display: flex;
}


/* HERO IMAGE */
.hero_content{
	font-size:14px;
	text-align: center;
}
.hero_text_headline{
	font-weight: bold;
	font-size: 34px;
  color:#F651A0;
}

.hero_content img{
	width:100%;
  height:50%;
}



.side_bar{
  height:10%;
  overflow: auto;
  text-align: left;
  font-size:14px;
}
.side_bar .section{
   color: #F651A0;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 28px;
   padding-top:50px;
}
.side_bar img{
	float: right;
  width: 200px;
  padding:10px;
}



/* [class^="side_bar"] element that starts with */
div [class^="side_bar"]:first-of-type {
    margin: 0px;
   
}

div [class^="side_bar"]:last-of-type {
    margin: 0px;
   
}