<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Grid</title>
  <meta name="description" content="Basic Grid">
  <meta name="keywords" content="html, css,floats, float left, float right, clearfix, simple grid">  
  <meta name="author" content="Intro to Web"> 
    
  <!-- THIS IS A LINK TO THE EXTERNAL .CSS --> 
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/layout.css">
        
</head>
    

<body>

  <div class="parent_container">

<div style="max-width:1000px;width:100%">


  <div class="hero_content">
     <img src="img/purplepink.jpg" alt="purple and pink shoes"/>
     <p class="hero_text_headline">
     Street Style: the ULTIMATE guide
     </p><br>
     <p>
     Read about the latest trends, news, and key fashion icons who define street style! Presented by: FOOT LOCKER
     </p>
  </div>

  <div class="side_bar">
    <img src="img/converse.jpg" alt="converse"/>
    <p class="section">
      MIX + MATCH
    </p><br>
    <p>
      With so many styles from the same brand names, you can coordinate your looks.
    </p>
  </div>
   <div class="side_bar">
    <img src="img/curb.jpg" alt="shoes on curb"/>
    <p class="section">
      STEP UP
    </p><br>
    <p>
      Learn how to elevate your style, starting with shoes.
    </p>
  </div>


   <div class="hero_content">
     <p class="hero_text_headline">
     -LEARN MORE-
     </p><br>
  </div>


  </div>

</div>
</div>



</div>
</body>
</html>
 